//variables
$grayed: #767676;
$highlight: #5C00DC;
$primary: #222222;
$search: #F5F5F5;
$tabGreen: #116811;
$tertiary: #444444;
$rfPink: #E71356;
$rfWhite: #FFFFFF;

$borderProps: 1px solid #CBC6DE;
$hoverShadow: 2.5px 2.5px 10px 2.5px $grayed;

//mixins
@mixin breakpoint($point) {
  @if $point == md {
    @media (max-width: 992px) {
      @content;
    }
  }

  @else if $point == sm {
    @media (max-width: 640px) {
      @content;
    }
  }
}