@use 'sass:color';
@use './variables' as *;

.loading {
    .loadBubbles {
        align-items: center;
        display: flex;
        gap: 5px;
        justify-content: center;
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        span {
            animation: snake 1.5s infinite ease-in-out;
            background-color: $rfPink;
            border-radius: 50%;
            display: block;
            height: 20px;
            opacity: 0.5s;
            width: 20px;

            &:nth-of-type(2) {
                animation-delay: 0.2s;
            }

            &:nth-of-type(3) {
                animation-delay: 0.4s;
            }

            &:nth-of-type(4) {
                animation-delay: 0.6s;
            }

            &:last-of-type {
                animation-delay: 0.8s;
            }
        }
    }
}

@keyframes snake {
    0%, 100% {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        opacity: 0.3;
        transform: translateY(0);
    }

    50% {
        background-color: $highlight;
        box-shadow: 0 20px 3px rgba(0, 0, 0, 0.05);
        opacity: 1;
        transform: translateY(-10px);
    }
}